docs/schemagrandmas-recipe.rnc

default namespace = ""

start = element xml {
  metadata,
  equipment,
  recipes
}

metadata = element metadata {
  element source {
    text,
    element facs {
      attribute target { xsd:anyURI }
    }?
  },
  element author { attribute xml:id { xsd:ID }, text? },
  element editor {
    attribute xml:id { xsd:ID },
    attribute type { text }?,
    text?
  }*
}

equipment = element equipment {
  element tool {
    attribute xml:id { xsd:ID },
    text
  }+
}

recipes = element recipes { recipe+ }

recipe = element recipe {
  attribute name { text },
  attribute serves { text },
  notes?,
  metadata?,
  equipment?,
  ingredients
}

notes = element notes { text? }

ingredients = element ingredients { ingredient+ }

ingredient = element ingredient {
  attribute type { text }?,
  (item | editorialNote)+
}

item = element item {
  attribute xml:id { xsd:ID }?,
  attribute ref { xsd:IDREF }?,
  attribute quantity { text }?,
  attribute unit { text }?,
  text
}

editorialNote = element editorialNote {
  attribute resp { xsd:IDREF },
  text
}